* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    max-width:100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-container {
    flex: 1;
}

#score-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
}

main {
    padding: 6rem 3.5rem;
    width: 100%;
    height: 100%;
}

#alternatives-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.btn-red {
    background: #ff0000;
}
.btn-blue {
    background: #0000FF;
}
.btn-green {
    background: #00FF00;
}
.btn-yellow {
    background: #ffff00;
}

.alternative-btn {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Arial Black";
}

#dialog-result {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
}